body {
  padding: 0;
  margin: 0;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f4f7;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.name-content {
  margin-right: 7rem;
}

.name-content .logo {
  font-size: 3.5rem;
  color: #1877f2;
}

.name-content p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 530px;
  height: 380px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
  outline: none;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

form input:focus {
  border: 1.8px solid #1877f2;
}

form .login {
  outline: none;
  border: none;
  background: #1877f2;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
}

form .login:hover {
  background: #0f71f1;
  cursor: pointer;
}

form a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  padding-top: 0.8rem;
  color: #1877f2;
}

form hr {
  background: #f7f7f7;
  margin: 1rem;
}

form .create-account {
  outline: none;
  border: none;
  background: #06b909;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
  width: 75%;
  margin: 0 auto;
}

form .create-account:hover {
  background: #03ad06;
  cursor: pointer;
}

/* //.........Media Query.........// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .name-content {
    margin: 0;
    text-align: center;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  form a {
    font-size: 1.5rem;
  }

  form .create-account {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }

  @media (orientation: landscape) and (max-height: 500px) {
    .header {
      height: 90vmax;
    }
  }  
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.title-box {
  width: 500px;
}
.title-box img {
  width: 235px;
  margin-bottom: -10px;
}
.title-box p {
  color: #000;
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
}
.form-box {
  width: 350px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  margin-left: 60px;
  box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
}
.form-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #eeebeb;
  border-radius: 5px;
  outline: none;
}
.form-box input:focus {
  box-shadow: 0px 0px 1px 1px rgb(22, 111, 229);
}
.form-box button {
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 13px 0;
  cursor: pointer;
  background: #166fe5;
}
.form-box button:hover {
  background: #1877f2;
}
.form-box a {
  color: #166fe5;
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}
.form-box a:hover {
  text-decoration: underline;
}
.form-box hr {
  border: 1px solid #dadde1;
  margin-bottom: 15px;
}
.form-box .create-btn a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  background: #36a420;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.form-box .create-btn a:hover {
  background: #42b72a;
}

.container-submit{
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 150px;
}

.display-3{
  margin-top: 20px;
}

.button-delete{
 padding: 15px;
 border-radius: 8px;
 margin-bottom: 10px;
 background-color: rgb(212, 55, 24);
 box-shadow: 5px 5px 5px rgba(194, 192, 192, 0.785);
}
.button-delete:hover{
  background-color: rgb(176, 32, 3);;
}

.failure-text{
  text-align: left;
  margin-bottom: 20px;
}

.failure-a{
  max-width: 197px;
  min-width: 197px;
  text-align: left;
  margin-bottom: 10px;
  background-color: white;
  padding: 3px;
}

.button-logout{
  text-decoration: none;
  font-size: x-large;
  color: #000;
  width: 100%;
  display: block;
  border-radius: 7px;
  border-width: 0px;
  background-color:  #E8ECEF;
  text-align: left;
}

#register-login-b{
  width: 30%;
}

.container-cool{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center{
  overflow: hidden;
  resize: none;
}

.button-logout:hover{
  background-color: rgba(216, 212, 212, 0.952);
}

.user-name{
  font-size: larger;
  font-weight: 500;
  font-style: italic;
  color: #605a4a;
}
.centered {
    padding-top: 200px;
    text-align: center;
    position: relative;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color:#eeae1bea;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 0 15px;
}

/*   color enojo: background-color: #6e0606f9;*/  
/*   color indeterminado: background-color: #554093f9;*/   
/*   color felicidad:  background-color:#eeae1bea;*/    
/*   color amor:  background-color: #e14d4df9;*/
/*   color tristeza:   background-color: #3560b6d4;*/
/*   color risa:  background-color: #d1d34df9; */
.cool-image{
  width: 400px;
  height:200px;
  margin-bottom: 23px;
}

.display-3{
  margin-bottom: 23px;
}

.jumbotron{
   width: 100%;
}
.navbar-toggler-real{
  background-color: rgba(216, 163, 38, 0.618);
  height: 68px;
  padding-bottom: 10px;
  width: 72px;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.navbar-toggler-real:hover{
  background-color:  rgba(156, 117, 25, 0.618);;
}

.traslator-home{
  height: 68px;
  width: 72px;
  border-radius: 100%;
}

header{
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 20px;
  justify-content: end;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
}
.form-group{
  margin-bottom: 0.8rem
}

a{
  text-decoration: none;
  font-size: x-large;
  color: #000;
  width: 100%;
  display: block;
  border-radius: 7px;
}
a:hover{
    background-color: rgba(216, 212, 212, 0.952);
}
.traslator-home:hover{
  background-color: rgba(216, 212, 212, 0.952);
  cursor: pointer;
}
.navbar-toggler{
  width: 80px;
}

.navbar-nav{
  margin-top: 10px;
}
.collapse{
  position: absolute;
  top:100px;
  right: 0;
  padding-right: 30px;
}
.navbar-collapse{
  position: absolute;
  top:100px;
  right: 0;
  padding-right: 30px;
  box-shadow: 0 2px 5px #ccc;
}
.form-control{
  margin-bottom: 16px;
}