<%- include('../partials/header') %>
<div class="jumbotron text-center">
<div class="container">
<h1 class="failure-text">THE INFORMATION IS INCORRECT. <br> Please Check Your Information And Try Again</h1>
<a class="failure-a" href="/">GO BACK HOME</a>
<a class="failure-a" href="/submit">GO TO SUBMIT</a>
<a class="failure-a" href="/register">GO TO REGISTER</a>
<a class="failure-a" href="/login">GO TO LOGIN</a>
    </div>
</div>
<%- include('../partials/footer') %>
